/*
colors:
#8f8f8f
#343a40
#212529
*/
/* Set box sizing for all elements */
* {
  box-sizing: border-box;
}

/* Set font-size for root element 1rem = 10px to make caculations easier  */
html {
  font-size: 62.5%;
}

body,
h2,
h3 {
  margin: 0;
}

h2 {
  color: #212529;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 7.2rem;
}

p {
  color: #8f8f8f;
}

button {
  font: inherit;
}
#pricing {
  text-align: center;
  padding: 6rem;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

/* -------- Flexible Card Grid -------- */
.flex-grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
}
.flex-grid > * {
  flex-grow: 1;
}
/* ---------- Card Component ---------- */
.card {
  flex-basis: 1%;
  min-width: 25.5rem;
  border: 1px solid #f1f0f0;
  border-radius: 3px;
}


.card__header {
  background-color: #f7f7f7;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #f7f7f7;
}

.card__body {
  padding: 2rem;
}

/* Card Button */
.card__btn {
  font-size: 2rem;
  line-height: 3rem;
  background-color: #fff;
  color: #343a40;
  border: 1px solid #343a40;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  width: 100%;
}

.card:nth-of-type(1) .card__btn:hover {
  background-color: #343a40;
  color: #fff;
}

.card + .card .card__btn {
  background-color: #343a40;
  color: #fff;
}

.card + .card .card__btn:hover {
  background-color: #212529;
}

